extends ../layout

block content
  h1= title
  div.row 
    if (errorMessage)
      p #{errorMessage}
    form(action="/users/login", method="post" novalidate).offset-md-3.col-md-6.col-xs-12.needs-validation
      a(href="/users/login_google") 
        img(id="GoogleSignInButtonNormal" alt="SignIn", src="/images/btn_google_signin_light_normal_web.png")
      div 
        label(for="mail_address").form-label メールアドレス
        input#userID(type="email", name="mail_address" required).form-control
        div.invalid-feedback メールアドレスを入力してください。メールアドレスには「@」が必要です。
      div 
        label(for="password").form-label パスワード
        input#password(type="password", name="password" required).form-control
        div.invalid-feedback パスワードを入力してください。
      div.text-end.mt-1
        input(type="submit", value="signIn" style="width: 75px").btn.btn-primary
      div.text-end.mt-1
        a(href="/users/signup" style="width: 75px").btn.btn-primary signUp